    <header></header>
    <main>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet  mld-cell--hide-phone"></div>
      <div id="box-new-product" class="login-box mdl-cell mdl-cell--5-col mdl-shadow--3dp mdl-cell--4-col-tablet mdl-cell--4-phone mdl-card">
      <div class="mdl-card__media top-icon-center"><img src="/imgs/tools.png" alt=""></div>
      <div class="mdl-card__title">
	<h4 class="mdl-card__title-text">Dashboard Access</h4>
      </div>
      <div class="mdl-card__supporting-text" >
	 <form method="POST" name="formAccess"  id="email" ng-submit="formAccess.$valid && sigin(user) ">
	 <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet  mdl-textfield mdl-js-textfield">
	   <input id="pname" ng-required="true" ng-model="user.email"  class="mdl-textfield__input" type="text" name="email">
	   <label class="mdl-textfield__label" for="email">Username</label>
	 </div>
	 <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-textfield mdl-js-textfield">
	   <input id="pname" ng-required="true" ng-model="user.password"  class="mdl-textfield__input" type="password" name="password">
	   <label class="mdl-textfield__label" for="password">Password</label>
	 </div>
	 <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-textfield mdl-js-textfield">
	   <button id=" ng-disable="formAccess.$valid"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	     Go!
	   </button>
	 </div>
	 </form>
      </div>
      <div class="mdl-card__actions">
      </div>
  </div>
    </div>
 
    </main>
 
