<div layout="row" flex>
  <md-sidenave layout="column" class="md-sidenav-left md-whiteframe-z2"
    md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" >
      <md-toolbar md-tall md-hue-2>
	<span flex></span>
	<div></div>
	<div class="md-toolbar-tools-bottom inset" layout="column">
	  <div>david@cbs.com</div>
	  <div>David Lopes</div>
	</div>
      </md-toolbar>
      <md-list>
        <md-item>
	  <a>
	    <md-item-content md-ink-ripple layout="row" layout-align="start center">
	      <div class="inset">
	        <ng-md-icon icon="dashboard"></ng-md-icon>
	      </div>
	      <div class="inset">Dashboard</div>
	    </md-item-content>
	  </a>
	</md-item>
        <md-item>
	  <a>
	    <md-item-content md-ink-ripple layout="row" layout-align="start center">
	      <div class="inset">
	        <ng-md-icon icon="group"></ng-md-icon>
	      </div>
	      <div class="inset">Friends</div>
	    </md-item-content>
	  </a>
	</md-item>
      </md-list>
      <md-divider></md-divider>
      <md-subheader>Admin</md-subheader>
  </md-sidenave>
  <div class="relative" layout="column" layout-fill role="main">
    <md-button class="md-fab md-fab-bottom-right" aria-label="add" ng-click="">
      <ng-md-icon icon="add"></ng-md-icon>
    </md-button>
  </div>
</div>
