<div layout="column" flex>
  <md-toolbar>
    <h1>bar</h1>
  </md-toolbar>
  <div layout="row" flex>
    <md-sidenave layout="column"
	class="md-sidenave-left md-whiteframe-z2"
        md-component-id="left"
	md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-tall">
           <h1 class="md-toolbar-tools"> Coding </h1>
	</md-toolbar>
	<md-list>
	    <md-item>
	      <a>
		<md-item-content  md-ink-ripple layout="row" layout-align="start center" >
		  <div class="inset">
		   <ng-md-icon icon="dashboard"></ng-md-icon> 	
		  </div>
		  <div class="inset">
		    Dasboard
		  </div>
		</md-item-content>
	      </a>	
	    </md-item>
	</md-list>
     </md-sidenave>
     <md-content flex>
       something awesome will place right here !
     </md-content>
  </div>
</div>
