<!DOCTYPE>
<html>
	<head>
	      
	</head>
	<body>
	<form action="/user/connect" method="post">
		<input type="text" name="email" placeholder="set you email">
		<input type="password" name="password">
		<input type="submit" value="let me in">
		
	</form>	</body>
</html>
