<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp" >
  <div class="mdl-card__media">
    <img src="/imgs/dog.png" alt="">
  </div>
  <div class="mdl-card__title">
    <h4 class="mld-card__title-text">
      {{data.name}}
    </h4>
  </div>
  <div class="mdl-card__supporting-text">
    Brand : {{data.brand}} | Qtd: {{data.quantity}}
  </div>
  <div class="mdl-card__actions">
    <button class="mdl-button mdl-js-button mdl-button--primary">
      comprar {{data.price | currency:'R$ '}}
    </button>
    <button class="mdl-button mdl-js-button mdl-button--colored">
      adicionar
    </button>
  </div>
</div>
