
.mdl-drawer-nav-label a{
  font-weight: bold;
} 

.product-img-refference.mdl-card {
  width:320px;
  height:320px;
}

.product-img-refference > .mdl-card__title{
  background: url('/imgs/dog.png') bottom right 15% no-repeat #46B6AC;
}

.product-grid-elements{
  display: inherit;
}

.searchBox.is-focused{
 width: calc(100% - 48px)
}

.searchBox>.mdl-textfield__expandable-holder{  width: 100%;} 

.add-product{
  position: fixed;
  display: block;
  right: 0px;
  bottom: 0px;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
#load{
 position:absolute;
 display:block;
 z-index:500;
 top: 50%;
 left:50%;
}

.new-item{
 z-index:900; 
 position:absolute;
 top:20%;
 left:30%;
 display:none;
}
.new-item-hide{
 display:none;
}
.new-item-active{
 display:block;
}

@media (max-width:720px){
  .new-item {
    top:15%; 
    left: 0;
  }
}

