
.mdl-drawer-nav-label a{
  font-weight: bold;
} 

.product-img-refference.mdl-card {
  width:320px;
  height:320px;
}

.product-img-refference > .mdl-card__title{
  background: url('/imgs/dog.png') bottom right 15% no-repeat #46B6AC;
}

.product-grid-elements{
  display: inherit;
}

.searchBox.is-focused{
 width: calc(100% - 48px)
}

.searchBox>.mdl-textfield__expandable-holder{  width: 100%;} 
